/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2014, 11:00:13 AM
    Author     : frankent
*/

@import url(../font/quark.css);

body{
    background-image: url('../image/bg_pallarax.jpg');
    background-repeat: repeat-x;
    background-position: top center;
    background-attachment: fixed;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

.txt_italic{
    font-style: italic;
}

.txt_shadow{
    text-shadow: 1px 1px 2px #000;
}

.txt_shadow_thin{
    text-shadow: 1px 1px 1px #000;
}

.font_size_12{
    font-size: 12px;
}

.font_size_13{
    font-size: 12px;
}

.font_size_15{
    font-size: 15px;
}

.font_size_16{
    font-size: 16px;
}

.font_size_17{
    font-size: 17px;
}

.font_size_18{
    font-size: 18px;
}

.green{
    color: #8ad039;
}

.blue{
    color: #6699ff;
}

.uppercase{
    text-transform: uppercase;
}

h1.block_title{
    text-decoration: underline;
    border-bottom: 1px solid #cecece;
    line-height: 25px;
}

h1.non_underline{
    border-bottom: transparent; 
    text-decoration: none;
}

.font_bold{
    font-weight: bold;
}

.quark{
    font-family: 'quarklight',sans-serif;
}

.relative{
    position: relative;
}

.margin_bottom_0{
    margin-bottom: 0px !important;
}

.margin_bottom_10{
    margin-bottom: 10px !important;
}

.margin_bottom_20{
    margin-bottom: 20px;
}

.margin_top_0{
    margin-top: 0px;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_20{
    margin-top: 20px;
}

.margin_top_30{
    margin-top: 30px;
}

.menu{
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0) 90%);
}

/*Menu*/

ul.main_menu_btn{
    margin: 0px;
    padding: 23px 0px 0px;
    position: absolute;
    top: 0px;
    left: 295px;
    background-image: url('../image/Header_current.png');
    background-repeat: no-repeat;
}

ul.main_menu_btn.menu_1{
    background-position: 18px 0px;
}

ul.main_menu_btn.menu_2{
    background-position: 104px 0px;
}

ul.main_menu_btn.menu_3{
    background-position: 208px 0px;
}

ul.main_menu_btn.menu_4{
    background-position: 300px 0px;
}

ul.main_menu_btn.menu_5{
    background-position: 402px 0px;
}

ul.main_menu_btn li{
    float: left;
    list-style: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px #000;
}

ul.main_menu_btn li a{
    color: #fff;
    text-decoration: none;
    line-height: 35px;
    margin: 0px 18px;
}

ul.main_menu_btn li.active a{
    color:  #8cd03d;
}

li a.home_menu_btn{
    display: block;
    width: 30px;
    height: 30px;
    background: url('../image/Header_home_inactive.png') no-repeat center;
}

li.active a.home_menu_btn{
    background: url('../image/Header_home_active.png') no-repeat center;
}

/*Main Template*/

.padding_content_other{
    padding-top: 160px;
}

.padding_content{
    padding-top: 380px;
}

.padding_content .content_area{    
    background: #fff;
    padding: 20px 0px;
}

/*Slide*/

.nivoSlider{
    height: 321px;
    box-shadow: 0px 0px 5px #000;
}

.nivo-controlNav{
    position: absolute;
    z-index: 99;
    bottom: 10px;
    right: 25px;
    padding: 0px;
}

.nivo-directionNav{
    display: none;
}

.nivo-controlNav a.nivo-control{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../image/slide_point_grey.png');
    background-position: center;
    overflow: hidden;
    text-indent: 100px;
    margin: 0px 7px 0px;
}

.nivo-controlNav a.nivo-control.active{
    background-image: url('../image/slide_point_green.png');
}

.vns_nav_direction a{
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
    width: 48px;
    height: 94px;
    overflow: hidden;
    text-indent: 100px;
    margin-top: -32px;
}

.vns_nav_direction a.prev_nav{
    left: -45px;
    background: url('../image/arrow_left.png') no-repeat center;
}

.vns_nav_direction a.next_nav{
    right: -45px;
    background: url('../image/arrow_right.png') no-repeat center;
}

/*Product*/

.product_thumb{
    height: 213px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.product_thumb.landscape{
    background-size: auto 100%;
}

.product_thumb.portrait{
    background-size: 100% auto;
}

.product_thumb .mask_product{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
}

.product_thumb .mask_product form{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: 80px;
    width: 180px;
    color: #fff;
}

.white{
    color: #fff;
}

.red{
    color: #ff0000;
}

.label_product_vns{
    width: 61px;
    height: 61px;
    position: absolute;
    background-color: #8ad039;
    padding: 12px 0px;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto -30px;
}

.green_ribbon{
    height: 150px;
    background: url('../image/shoping_bg.png') repeat-x;
    margin: 10px 0px;
    padding: 15px 0px;
}

a.link_inherite{
    color: inherit;
    text-decoration: none;
}

.vdo_section{
    margin-top: 90px;
    background: url('../image/Video_bg.png') no-repeat center;
}

.news_update{
    margin-top: 20px;
    background: url('../image/update_bg.png') no-repeat top center;
}

.news_update h1.label_news{
    margin-top: 85px;
    font-size: 45px;
    margin-bottom: 30px;
}

.footer{
    background-color: #fff;
    padding-top: 30px;
}

.curv_footer{
    height: 76px;
    background: url('../image/footer_pattern.png') repeat-x top center;
}

.content_footer{
    padding: 15px 0px;
    background-color: #333;
}

ul.footer_address{

}

ul.footer_address li{
    list-style: none;
    text-indent: -26px;
    margin-bottom: 15px;
}

ul.footer_address li img{
    padding-right: 10px;
}

#map_canvas{
    height: 500px;
    background-color: #efefef;
}

.pin_list{
    background-image: url('../image/contactus_mappin_inactive.png');
    background-position: top right;
    background-repeat: no-repeat;
    height: 42px;
}

.pin_list.active{
    background-image: url('../image/contactus_mappin_active.png');
}

.partner_location .pin_list.active{
    background-image: url('../image/contactus_mappin_blue_active.png');
}

ul.sidebar_vdo_list{
    padding-left: 20px;
    color: #666;
}

ul.sidebar_vdo_list li{
    list-style: none;
    text-indent: -9px;
}

ul.sidebar_vdo_list li.active a{
    font-weight: bold;
    color: #222;
}

ol.breadcrumb{
    background-color: transparent;;
}

ol.breadcrumb a{
    color: #8ad039;
    text-shadow: 1px 1px 1px #000;
}

ol.breadcrumb>li+li:before {
    content: "\00bb";
    padding: 0 5px;
    color: #ccc;
}

.swap_btn{
    width: 85px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.locale_setting{
    position: absolute;
    width: 69px;
    min-height: 59px;
    top: 0px;
    right: 0px;
}

.locale_setting .current_lang{
    background-image: url('../image/Header_langtag_head.png');
    background-repeat: no-repeat;
    cursor: pointer;
    padding-top: 31px;
    padding-bottom: 8px;
}

.locale_setting .lid_lang{
    background: url('../image/Header_langtag_tail.png') no-repeat center top;
    height: 18px;
    width: 69px;
}

.locale_setting ul.lang_list{
    background: url('../image/Header_langtag_body.png') repeat-y;
    width: 69px;
    margin: 0px;
    padding: 0px 10px;
    text-align: center;
}

.locale_setting ul.lang_list li{
    list-style: none;
}

.cart_toggle{
    width: 88px;
    height: 98px;
    background: url('../image/header_cart.png') no-repeat center top;
    position: absolute;
    top: 0px;
    right: 85px;
    cursor: pointer;
}

.cart_display{
    width: 460px;
    padding: 0px;
    top: 98px;
    right: 0px;
    position: absolute;
    background: url('../image/old_mathematics.png');
}

.cart_display thead, .order_check thead{
    background: url('../image/shoping_bg.png');
}

.cart_display thead th, .order_check thead th{
    text-align: center !important;
}

a.remove_stock{
    opacity: 0;
}

.shipping_method{
    cursor: pointer;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

.shipping_method input{
    display: none;
}

.shipping_method.method_1{
    background-image: url('../image/checkout_btn_air_inactive.png');
}

.shipping_method.method_1.active{
    background-image: url('../image/checkout_btn_air_active.png');
}

.shipping_method.method_2{
    background-image: url('../image/checkout_btn_bus_inactive.png');
}

.shipping_method.method_2.active{
    background-image: url('../image/checkout_btn_bus_active.png');
}

.shipping_method.method_3{
    background-image: url('../image/checkout_btn_train_inactive.png');
}

.shipping_method.method_3.active{
    background-image: url('../image/checkout_btn_train_active.png');
}

.shipping_method.method_4{
    background-image: url('../image/checkout_btn_EMS_inactive.png');
}

.shipping_method.method_4.active{
    background-image: url('../image/checkout_btn_EMS_active.png');
}