/* 
    Document   : style
    Created on : June 9, 2012, 12:09:50 PM
    Author     : Keittirat T. S
    Description: Style sheet for vanusnun.com
*/

root { 
    display: block;
}

/* global ------------------------------------------------------------------- */

body {
    background-image: url('../image/bg_pattern.jpg');
    font: normal 14px Helvetica, Arial;
}

a {
    text-decoration: none;
    color: inherit;
}

b{
    font-weight: bold;
}

.hide { display: none; }

/* template global css ------------------------------------------------------ */

.main_container{
    width: 1082px;
    margin: 0px auto;
    position: relative;
}

a.vanusnun_main_logo {
    width: 486px;
    height: 177px;
    background: url('../image/btn_template_th_TH.png') no-repeat -420px 0px;
    margin: 0px auto;
    display: block;
}

.top_menu {
    background: url('../image/menu_shadows.png') no-repeat center;
    margin: 23px auto 0px;
    width: 1058px;
    height: 44px;
    text-align: center;
}

.menu_btn_group {
    margin: 3px auto 0px;
    display: inline-block;
}

a.btn_home, a.btn_menu{
    height: 40px;
    float: left;
    margin-right: 25px;
    display: block;
    opacity: 0.8;
}

a.btn_home:hover, a.btn_menu:hover{
    opacity: 1;
}

a.btn_home{
    background: url('../image/btn_template_th_TH.png') no-repeat -261px -211px;
    width: 33px;
}

a.btn_menu {
    padding: 0px 8px;
    color: white;
    line-height: 47px;
    /*font-size: 18px;*/
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    background: url('../image/menu_bg_repeat.png') repeat-x;
}

a.btn_menu.last{
    margin-right: 0px;
}

.main_footer{
    background: url('../image/footer.png') repeat-x;
    height: 164px;
    padding-top: 30px;
    margin-top: 20px;
    position: relative;
    display: block;
}

.main_footer.ipad{
    width: 1082px; 
    margin: 20px auto 0px;
}

.main_footer .detail_footer{
    width: 918px;
    margin: 0px auto;
    position: relative;
}

.vanusnun_standard{
    float: left;
    width: 410px;
    height: 130px;
    background: url('../image/btn_template_th_TH.png') no-repeat -489px -203px;
}

.vanusnun_footer_text {
    color: #aaa;
    text-align: right;
    float: right;
    display: block;
    width: 475px;
    margin-top: 10px;
    height: 135px;
    overflow: hidden;
    line-height: 20px;
    text-shadow: 1px 1px 0.5px #ddd;
}

.gdi_decoration {
    position: absolute;
    bottom: -15px;
    font-size: 11px;
    right: 0px;
    color: #333;
    border-top: 1px solid #333;
    text-align: right;
    width: 250px;
}

.main_content{
    margin: 5px auto 0px;
    width: 918px;
    margin: 0px auto;
}

.vanusnun_language_facebook{
    height: 70px;
    margin-bottom: 30px;
    position: relative;
}

.vanusnun_language_facebook a.fb_btn{
    display: block;
    width: 160px;
    height: 50px;
    background: url('../image/btn_template_th_TH.png') no-repeat -144px -0px;
    float: left;
    opacity: 0.8;
    margin: 10px 0px;
}

.vanusnun_language_facebook a.fb_btn:hover{
    opacity: 1;
}

.vanusnun_language_facebook .follow_vanusnun {
    float: left;
    width: 69px;
    height: 51px;
    display: block;
    margin: 8px 0px 0px 11px;
    position: relative;
}

.vanusnun_language_facebook .follow_vanusnun a.mail_icn{
    background: url('../image/btn_template_th_TH.png') no-repeat -144px -268px;
    width: 69px;
    height: 51px;
    display: block;
    position: relative;
    z-index: 3;
}

.vanusnun_language_facebook .follow_vanusnun .click_follow{
    position: absolute;
    top: 25%;
    font-size: 12px;
    font-weight: bold;
    right: -45px;
    z-index: 2;
}

.locale_selector{
    width: 34px;
    position: absolute;
    right: 50px;
    top: -10px;
    display: block;
    z-index: 2;
}

.locale_selector .locale_tail{
    width: 34px;
    height: 25px;
    background: url('../image/lang_tag_top.png') no-repeat;
}

.locale_selector .locale_body{
    width: 34px;
    background: url('../image/lang_tag_repeater.png') repeat-y;
    color: #fff;
    font-size: 12px;
    text-align: left;
    text-indent: 9px;
    font-weight: bold;
    padding: 2px 0px;
    /*    display: none;*/
    cursor: pointer;
}

.locale_selector .locale_body.selected{
    display: block;    
    width: 34px;
    /*    text-shadow: 1px 1px 0.5px #555;*/
}

.locale_selector .locale_body:hover{
    /*    text-shadow: 1px 1px 0.5px #555;*/
    color: green;
}

.locale_selector .locale_head{    
    width: 34px;
    height: 14px;
    background: url('../image/lang_tag_bottom.png') no-repeat;
}

.cart_sub {
    position: absolute;
    width: 248px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 6px solid #fff;
    border-top: none;
    top: 0px;
    right: 0px;
    background: #87d237;
}

.cart_sub a.logo{    
    background: url('../image/btn_template_th_TH.png') no-repeat -144px -409px;
    width: 220px;
    height: 57px;
    margin: 0px auto;
    position: relative;
    display: block;
}

.cart_sub a.logo span{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 67px;
}

.cart_sub table{
    color: #fff;
    font-size: 12px;
    margin: 0px auto;
}

.cart_display {
    margin-top: 5px;
}

#cart-title {    
    margin-top: 5px;
    background: #457217;
    opacity: 0.55;      
}

.cart_sub table th{ 
    height: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 23px;
}

.cart_sub table th.first {
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.cart_sub table th.last {
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.cart_sub table td{
    height: 23px;
    text-align: center;
    line-height: 23px;
}

.cart_sub .sub_total{
    width: 127px;
    height: 35px;
    background: url('../image/btn_template_th_TH.png') no-repeat -144px -335px;
    position: absolute;
    bottom: -41px;
    right: -3px;
}

.cart_sub .sub_total span{
    color: white;
    text-align: right;
    position: absolute;
    line-height: 26px;
    left: 53px;
    width: 64px;
}

.cart_sub a.checkout{
    width: 125px;
    height: 40px;
    background: url('../image/btn_template_th_TH.png') no-repeat -500px -518px;
    position: absolute;
    bottom: -46px;
    left: -2px;
}

.cart_display tr.item_in_cart{
    cursor: pointer;
}

.cart_display tr.item_in_cart:hover{
    /*    background-color: #467316;*/
}

.subscribe_btn{
    position: absolute;
    width: 287px;
    top: 10px;
    left: 42px;
    z-index: 0;    
    opacity: 0;
}

.subscribe_btn input[type=text]{
    height: 32px;
    background: url('../image/letterbox_textbox.png') repeat-x;
    width: 0px;
    /*    width: 200px;*/
    border: 0px;
    padding: 0px 4px 0px 29px;
    float: left;
}

.subscribe_btn input[type=button]{
    /*    width: 52px;*/
    width: 0px;
    height: 32px;
    background: url('../image/btn_template_th_TH.png') no-repeat -144px -226px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    cursor: pointer;
}

.subscribe_btn .flag_subscribe{
    background: url('../image/letterbox_desc.png') repeat-x;
    width: 110px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    right: 80px;
    bottom: 0px;
    padding: 0px 15px;
    color: #628f2f;
    text-align: center;
    font-size: 10px;
}

.subscribe_btn .flag_subscribe ul{
    margin-top: 8px;
}

/* Home Page ---------------------------------------------------------------- */

#slide ul {
    display: block;
}

.cc_slide{
    width: 918px;
    height: 313px;
    margin: 0px auto;;
    -webkit-box-shadow: 0px 0px 10px 0px #777;
    box-shadow: 0px 0px 10px 0px #777;
    position: relative;
}

.slide_news{
    width: 918px;
    height: 313px;
    overflow: hidden
}

#slide-left, #slide-right{
    display: block;
    position: absolute;
    background: url('../image/btn_template_th_TH.png') no-repeat;
    width: 47px;
    height: 94px;
    top: 102px;
    opacity: 0.8;
    cursor: pointer;
}

#slide-left:hover, #slide-right:hover{
    opacity: 1;
}

#slide-left{  
    background-position: -303px -211px;
    left: -55px;
}

#slide-right{ 
    background-position: -406px -211px;
    right: -55px;
}

.slide_news .slide {
    width: 918px;
    height: 313px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    float: left;
    position: relative;
}

.slide_news .slide_info{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 12px;
    bottom: 0px;
    width: 898px;
    color: #333;
}

.slide_news a.slide .slide_info .dimp_center{
    right: 35px;
}

.slide_news_dim{
    text-align: center;
}

.slide_news_dim .group_dim{
    display: inline-block;
}

.slide_news_dim .group_dim .dim{
    width: 15px;
    height: 15px;
    background: url('../image/btn_template_th_TH.png') no-repeat -137px -173px;
    float: left;
    margin: 10px 0px;
    padding: 0px 7px;
}

.slide_news_dim .group_dim .dim.selected{
    background-position: -137px -196px;
}

.home_section{
    margin-top: 53px;
}

.home_section .promotion_txt{
    width: 634px;
    position: relative;
    margin-top: 15px;
    float: left;
}

.home_section .promotion_txt .title_tag{
    width: 152px;
    height: 60px;    
    background: url('../image/btn_template_th_TH.png') no-repeat -146px -482px;
    position: absolute;
    left: 37px;
    top: -31px;
    display: block;
}

.home_section .promotion_txt a.read_more_promotion{
    width: 127px;
    height: 58px;    
    background: url('../image/btn_template_th_TH.png') no-repeat -426px -405px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: block;
}

.home_section .promotion_txt .home_promotion_detail{
    padding: 50px 40px;
    width: 546px;
    height: 181px;
    margin: 0px auto;
    line-height: 20px;
    text-indent: 25px;
    text-align: left;
}

.home_section .vanusnun_sponsor{
    width: 272px;
    min-height: 298px;
    float: right;
    display: block;
}

.home_section .vanusnun_sponsor .sponsor{
    width: 200px;
    height: 87px;
    margin: 0px auto 17px;
    display: block;
    background: no-repeat center;
    background-size: 200px auto;
}

.vanusnun_technology{
    margin: 30px auto 0px;
}

.vanusnun_technology .technology{
    float: left;
    display: block;
    width: 229px;
    height: 229px;
    position: relative;
    background: no-repeat center;
    background-size: auto 229px;
}

.vanusnun_technology a.technology .technology_detail{
    position: absolute;
    bottom: 0px;
    left: 0px;
    /*    padding: 5px 10px;*/
    display: block;
    font-size: 12px;
    /*    line-height: 20px;*/
    color: #fff;
    /*    text-shadow: 1px 1px 0.5px #000;*/
    opacity: 0.8;
    /*    border-top: 1px solid #919191;*/
}

.vanusnun_technology a.technology .technology_detail .dimp_center{
    right: 15px;
}

.vanusnun_technology a.technology .technology_detail .tech_title{
    font-weight: bold;
}

.vanusnun_technology a.technology .technology_detail .tech_detail{
    font-weight: normal;
    text-align: justify;
}

/* About us ----------------------------------------------------------------- */
.vanusnun_bg_about_page{
    height: 493px;
    display: block;
    width: 1033px;
    background: url('../image/about_us_bg.png') no-repeat center;
    background-size: auto 493px;
    margin: 0px -57.5px 0px;
    position: relative;
}

.vanusnun_bg_about_page_detail{
    width: 520px;
    height: 536px;
    display: block;
    margin: -418px auto 20px;
    padding: 35px;
    background: url('../image/about_paper.png') no-repeat center;
    position: relative;    
    z-index: 2;
}

.vanusnun_bg_about_page_detail .sign_logo{
    width: 148px;
    height: 98px;
    background: url('../image/btn_template_th_TH.png') no-repeat -145px -68px;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.vanusnun_shadow{
    background: url('../image/menu_shadows.png') no-repeat center;
    margin: -63px 0px 0px -63px;
    width: 1058px;
    height: 44px;
}

.vanusnun_bg_about_page_detail .about_title{
    color: #70af2c;
    /*font-size: 30px;*/    
    font-size: 38px;
    font-weight: bold;
}

.vanusnun_bg_about_page_detail .about_detail{
    font-size: 14px;
    line-height: 25px;
    text-indent: 50px;
    text-align: justify;
    margin-top: 15px;
}

.vanusnun_bg_about_page_detail .about_detail ul li{
    margin-bottom: 20px;
    text-shadow: 1px 1px 0.5px #ccc;
}

/* Contact Us --------------------------------------------------------------- */
.vanusnun_map{
    width: 922px;
    height: 294px;
    display: block;
    margin: 0px 0px 0px -2px;
    background-color: #000;
}

.vanusnun_map_option {
    background: url('../image/contactus_main_texture.jpg');
    width: 922px;
    height: 91px;
    margin: 0px 0px 0px -2px;
    position: relative;
}

.vanusnun_map_option a.map_picture{
    display: block;
    width: 127px;
    height: 120px;
    background: url('../image/btn_template_th_TH.png') no-repeat 0px -253px;
    position: absolute;
    right: 188px;
    bottom: 7px;
}

.vanusnun_map_option a.pin_on_google_map{
    display: block;
    width: 127px;
    height: 120px;
    background: url('../image/btn_template_th_TH.png') no-repeat 0px -126px;
    position: absolute;
    right: 40px;
    bottom: 7px;
}

.address_zone {
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px 0.5px black;
    font-weight: bold;
    padding: 11px 17px 11px;
    height: 68px;
    width: 380px;
}

.address_zone .beginning{
    float: left;
    margin-right: 10px;
}

.address_zone .vanusnun_address{
    float: left;
}

.vanusnun_branch{
    margin: 70px 0px 0px -2px;
}

.vanusnun_branch a.frans{
    width: 384px;
    height: 180px;
    display: block;
    background: url('../image/contactus_branch_box.png') no-repeat center;
    float: left;
    margin-bottom: 47px;
    padding: 20px;
    text-shadow: 1px 1px 0.5px #000;
}
.vanusnun_branch a.frans.mod{
    margin-left: 70px;
}

.vanusnun_branch a.frans .address_title, .vanusnun_branch a.frans.mod .address_title{
    color: #fff;    
    font-size: 21px;
    font-weight: bold;
    clear: both;
}

.vanusnun_branch a.frans .pin_on_google_map, .vanusnun_branch a.frans.mod .pin_on_google_map{
    width: 127px;
    height: 120px;
    background: url('../image/btn_template_th_TH.png') no-repeat 0px -126px;
    float: left;
    margin: 17px 48px 0px 15px;
}

.vanusnun_branch a.frans .address_other, .vanusnun_branch a.frans.mod .address_other{
    float: left;
    color: #fff;
    text-shadow: 1px 1px 0.5px #000;
    margin-top: 17px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    width: 192px;
}

.info_box{
    color: #222;
    text-shadow: 1px 1px 0.5px #ccc;
    font-size: 12px;
}

/* Product page ------------------------------------------------------------- */
.product_filter{
    height: 146px;
    width: 758px;
    background: url('../image/filter_product_bg.png') repeat-y;
    margin: 0px auto;
    position: relative;
}

.product_filter a.promotion_btn{
    width: 127px;
    height: 120px;
    background: url('../image/btn_template_th_TH.png') no-repeat -581px -365px;
    float: left;
    position: absolute;
    right: 173px;
    top: 14px;
}

.product_filter a.lastest_product{
    width: 127px;
    height: 120px;
    background: url('../image/btn_template_th_TH.png') no-repeat 0px -381px;
    float: left;
    position: absolute;
    right: 32px;
    top: 14px;
}

.product_filter table{
    position: absolute;
    top: 50px;
    left: 20px;
}

.product_filter table span{
    color: white;
    font-weight: bold;
    line-height: 32px;
    margin-right: 20px;    
    /*font-size: 12px;*/
    font-size: 20px;
}

.showroom_section{
    margin: 51px auto 0px;
}

.showroom_section .product_all{
    width: 636px;
    float: right;
}

.showroom_section .product_all a.each_product_frame{
    display: block;
    float: left;
    width: 212px;
    height: 212px;
    background: no-repeat center;
    position: relative;
    z-index: 0;
}

.showroom_section .product_all a.each_product_frame .out_of_stock{
    width: 107px;
    height: 107px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../image/btn_template_th_TH.png') no-repeat -893px -484px;
}

.showroom_section .product_all a.each_product_frame .detail{
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: #87d237;
    position: absolute;
    width: 192px;
    bottom: 0px;
    text-shadow: 1px 1px 0.5px black;
    opacity: 0.8;;
}

.showroom_section .product_all a.each_product_frame .detail .name_title{
    width: 117px;
    float: left;
    line-height: 22px;
}

.showroom_section .product_all a.each_product_frame .detail .price_tag{
    position: absolute;
    width: 95px;
    height: 56px;
    right: 0px;
    bottom: 0px;
    background: url('../image/btn_template_th_TH.png') no-repeat 0px 0px;
    line-height: 68px;
    text-align: center;    
}

.showroom_section .product_all a.each_product_frame .product_hover{
    width: 188px;
    height: 188px;
    padding: 20px;
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: -1;
    background-color: #9fd26b;
    border: 1px solid #908a66;
    border-radius: 5px;
    display: none;
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 0.5px #ccc;
    line-height: 20px;
}

.showroom_section .product_all a.each_product_frame .product_hover .cover_btn_vfd{
    width: 188px;
    height: 65px;
    position: absolute;
    bottom: 20px;
}

.showroom_section .product_all a.each_product_frame .product_hover .view_full_detail{
    width: 127px;
    height: 65px;
    background: url('../image/btn_template_th_TH.png') no-repeat 0px -515px;
    margin: 0px auto 0px;
}

.product_category{
    width: 306px;
    float: left;
    margin-left: -70px;
}

.product_category .category{
    width: 296px;
    height: 44px;
    background: url('../image/product_category.png') repeat-y;
    padding-left: 10px;
    line-height: 44px;
    color: #fff;
    /*font-size: 17px;*/    
    font-size: 28px;
    font-weight: 700;
    display: block;
    cursor: pointer;
}

.product_category .category:hover{
    opacity: 0.8;
}

.product_category .product_categorize{
    background: url('../image/sub_cate.png') repeat-y;
    height: 44px;
    width: 276px;
    display: block;
    line-height: 44px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    display: none;
}

.product_category .product_categorize.light{
    background: url('../image/product_category2.png') repeat-y;
}

.dimp_center{
    width: 9px;
    height: 5px;
    background: url('../image/btn_template_th_TH.png') no-repeat -116px 0px;
    position: absolute;
    right: 10px;
    top: -5px;
}

/* Product Detail ----------------------------------------------------------- */
.product_detail{
    float: right;
    width: 585px;
    background-color: #87d237;
    padding: 20px;
    position: relative;
    margin-bottom: 70px;
}

.product_detail .product_image{
    width: 245px;
    height: 245px;
    float: left;
    background: no-repeat center;
    border: 5px solid #fff;
}

.product-image {
    width: 245px;
    float: left;
    padding: 10px;
    background: white;
    -webkit-box-shadow: 0px 0px 7px 0px #777;
    box-shadow: 0px 0px 7px 0px #777;
}

.product_detail .product_info{
    float: right;
    width: 314px;
}

.product_detail .product_info a.add_cart_btn{
    width: 238px;
    height: 88px;
    display: block;
    background: url('../image/btn_template_th_TH.png') no-repeat -733px -384px;
    margin: 0px auto 0px;
}

.product_detail .product_info ul.info_section{
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}

.product_detail .product_info ul.info_section li{
    line-height: 25px;
    font-size: 17px;
    color: #588d23;
    font-weight: 700;
}

.product_detail .product_info ul.info_section li span{
    color: #fff;
}

.product_detail .product_info ul.info_section li.product_title{
    color: #fff;
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 15px;
}

a.product_back{
    width: 140px;
    height: 69px;
    display: block;
    background: url('../image/btn_template_th_TH.png') no-repeat -345px -496px;
    position: absolute;
    bottom: -69px;
    right: 60px;
}

/* Promotion ---------------------------------------------------------------- */
.each_month{
    width: 918px;
    margin: 50px auto 0px;
    padding-bottom: 20px;
    position: relative;
}

.each_month a.slide{
    width: 918px;
    height: 313px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-bottom: 35px;
}

.each_month a.slide .slide_info{
    position: absolute;
    display: inline-table;
    padding: 10px;
    bottom: 0px;
    opacity: 0.7;
    color: #fff;
    text-shadow: 1px 1px 0.5px #000;    
    border-top: 1px solid #919191;
}

.each_month a.slide .slide_info .dimp_center{
    right: 35px;
}

.each_month_flag {
    padding: 0px 8px;
    color: white;
    line-height: 47px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    background: url('../image/menu_bg_repeat.png') repeat-x;
    height: 40px;
    display: block;
    position: absolute;
    left: 30px;
    top: -40px;
    text-shadow: 1px 1px 0.5px #000;
}

.assesory_promotion{
    width: 473px;
    height: 128px;
    background: url('../image/Interface_promotion_header.png') no-repeat center;
    text-align: center;
}

.assesory_promotion ._title{
    font-size: 30px;
    color: #000;
    text-shadow: 1px 1px 0.5px #ccc;
    font-style: italic;
    font-weight: bold;
    position: relative;
    bottom: 0px;
    padding-top: 70px;
}

/* Checkout ----------------------------------------------------------------- */
.checkout_method{
    background: url('../image/progress_bar.png') no-repeat;
    width: 786px;
    height: 113px;
    margin: 0px auto 20px;
    position: relative;
}

.checkout_method.proc1{
    background-position: -14px -11px;
}

.checkout_method.proc2{
    background-position: -14px -143px;
}

.checkout_method.proc3{
    background-position: -14px -275px;
}

.checkout_method.proc4{
    background-position: -14px -403px;
}

.checkout_method span, .checkout_method a{
    position: absolute;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    color: #000;
    text-shadow: 2px 1px 0.5px #CCC;
    top: 12px;
}

.checkout_method span#_proc1, .checkout_method a#_proc1{
    left: -30px;
}

.checkout_method span#_proc2, .checkout_method a#_proc2{
    left: 231px;
}

.checkout_method span#_proc3, .checkout_method a#_proc3{
    right: 125px;
}

.checkout_method span#_proc4, .checkout_method a#_proc4{
    right: -3px;
}

table.checkout_table{
    margin-top: 30px;
    border: 5px solid white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table.checkout_table th{
    text-align: center;
    background: #467316;
    height: 40px;
    color: #fff;
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

table.checkout_table tr td{
    text-align: center;
    background: #82d233;
    height: 30px;
    color: #fff;
    line-height: 30px;
    border: 1px solid #fff;
    border-top: 0px;
    border-bottom: 0px;
}

table.checkout_table tr.checkout_total{
    border: 1px solid #fff;
}

table.checkout_table tr.checkout_total td{
    text-align: center;
    background: #82d233;
    height: 30px;
    color: #fff;
    line-height: 30px;
    border: 0px;
}

a.confirm_checkout{
    display: block;
    width: 175px;
    height: 53px;
    background: url('../image/Interface_submit_btn.png') no-repeat center;
    color: white;
    line-height: 53px;
    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px 0.5px black;
    margin: 20px 0px 0px;
    float: right;
    opacity: 0.8;
}

a.confirm_checkout:hover{
    opacity: 1;
}

/* Shipping ----------------------------------------------------------------- */
.shipping_method{
    width: 841px;
    height: 154px;
    background: url('../image/checkout_transfmed_box.png') no-repeat center;
    margin: 40px auto;
    border: 5px solid transparent;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.shipping_method.selected{
    border-color: #efefef;
}

.shipping_method .logo_shipping{
    width: 143px;
    height: 103px;
    background: url('../image/checkout_transfmed_icon.png') no-repeat center;
    position: absolute;
    right: 70px;
    top: 24px;
    opacity: 0.8;
}

.shipping_method.selected .logo_shipping{
    opacity: 1;
}

.shipping_method .shipping_title{
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 0.5px black;
    position: absolute;
    top: 17px;
    left: 30px;
}

.shipping_method .shipping_detail{
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 0.5px black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 538px;
    height: 62px;
    line-height: 18px;
    padding: 10px 20px;
}

/* Recipe ------------------------------------------------------------------- */
.ingrediet{
    width: 800px;
    background: url('../image/recipest_paper.jpg') no-repeat center;
    margin: 0px auto 0px;
    padding: 44px;
    height: 876px;
}

.each_ing{
    width: 800px;
    margin-bottom: 10px;
}

.each_ing .image_ingredient{
    width: 120px;
    height: 120px;
    background: no-repeat center;
    float: left;
}

.each_ing .detail_of_ingredient{
    float: left;
    font-size: 12px;
    width: 658px;
    line-height: 18px;
}

.each_ing .detail_of_ingredient .ingredient_name{
    color: #70AF2C;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
    font-size: 14px;
}

.each_ing .detail_of_ingredient .ingredient_detail{
    color: #222;
    text-shadow: 1px 1px 0.5px #ccc;
}

.recipes{
    width: 888px;
    margin: 20px auto 0px;
}

.recipes a.list_recipe{
    width: 218px;
    height: 218px;
    float: left;
    margin: 0px 2px 80px;
    display: block;
    background: no-repeat center;
    background-size: auto 218px;
    position: relative;
}

.recipes a.list_recipe span{
    width: 218px;
    position: absolute;
    line-height: 30px;
    font-size: 13px;
    color: #000;
    text-shadow: 1px 1px 0.5px #ccc;
    text-align: center;
    bottom: -30px;
}

/* Cover Page --------------------------------------------------------------- */

.display_cover{
    width: 900px;
    height: 400px;
    background: #CCC;
    margin: 20px auto 25px;
    overflow: hidden;    
    -webkit-box-shadow: 0px 0px 10px 0px #777;
    box-shadow: 0px 0px 10px 0px #777;
}

/* Shipping Page ------------------------------------------------------------ */

.shipping{
    width: 760px;
    margin: 30px auto 0px;
}

.shipping li._title{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.shipping li._input{
    margin-bottom: 20px;
}

.shipping li._input input{
    width: 250px;
    padding: 5px 5px;
}

span.shipping_method_final{
    color: #222;
    text-shadow: 1px 1px 1px #CCC;
    line-height: 30px;
    padding: 15px 0px;
}

#category_filter, #product_filter {
    border: none;
    padding: 5px;
    width: 130px;
}

.home-promotion-top {
    background: url('../image/main_promotion_bg_top.png') no-repeat 0 0;
    width: 634px;
    height: 58px;
}

.home-promotion-mid {    
    background: url('../image/main_promotion_bg_mid.png') repeat-y 0 0;
    width: 634px;
}

.home-promotion-mid p {
    padding: 0 20px;
    text-align: justify;
}

.home-promotion-bot {
    background: url('../image/main_promotion_bg_bot.png') no-repeat 0 0;
    width: 634px;
    height: 37px;
}