/**
 * Dashboard Style Sheet
 * 
 * @package Dashboard
 * @subpackage Stylesheet
 * @since 2.0
 * @author Nomkhonwaan ComputerScience
*/

html, body {
    font-family: Arial, Tahoma;
}

/* Google checkbox ---------------------------------------------------------- */
.goog-checkbox {
    border: 1px solid #ccc;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 1px;  /* Fixes the height in IE6 */
    height: 11px;
    margin: 0 4px 0 1px;
    vertical-align: text-bottom;
    width: 11px;
    cursor: pointer;
}

.goog-checkbox:hover {
    border-color: #999;
}

.goog-checkbox-checked {
    background: #fff url('../image/check-sprite.gif') no-repeat 2px center;
}

.goog-checkbox-undetermined {
    background: #bbb url('../image/check-sprite.gif') no-repeat 2px center;
}

.goog-checkbox-unchecked {
    background: #fff;
}

.goog-checkbox-disabled {
    border: 1px solid lightgray;
    background-position: -7px;
}

/* Google button ------------------------------------------------------------ */

.buttons {
    float: left;
    padding-bottom: 20px;
    clear: both;
}

a.button {
    cursor: pointer;
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #ccc;
    border-radius: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
}

a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button:active {
    color: #000;
    border-color: #444;
}

a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

a.big {
    font-size: 16px;
    padding: 10px 15px;
}

a.supersize {
    font-size: 20px;
    padding: 15px 20px;
}

/* global ------------------------------------------------------------------- */

a { cursor: pointer; }

.left { float: left; }
.right { float: right; }

.hide { display: none; }
.hidden { 
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.clear-left { clear: left; }
.clear-right { clear: right; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }

.gdi_logo {
    width: 253px;
    height: 76px;
    display: block;
    background: url('../image/gdi_logo.png') no-repeat 0 0;
    position: absolute;
    right: 0;
}

.div-label {
    cursor: pointer;
}

.div-label.inline {
    display: inline-block;
}

.message-box {
    border: 1px solid #ccc;
    padding: 7px 10px;
    color: #999;
}

.message-box.error {
    border-color: #FF9999;
    color: #FF6363;
    background: #FFE8E8;
}

.message.bold {
    font-weight: 700;
    background: none;
    border: none;
}

.message.error {
    color: #FF6363;
}

.notification {
    font-size: 9px;
    color: red;
    height: inherit;
    vertical-align: top;
}

.round-corner {
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.round-corner.very {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.round-corner.no-top {
    -webkit-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}

.divider {
    border-top: 1px dashed #ccc;
    margin: 5px 0;
}

.divider.solid {
    border-style: solid;
}

.divider.soft {
    border-color: #dadada;
}

.sub-label {
    color: #777;
    font-size: 14px;
}

.sub-label.small {
    font-size: 12px;
}

.sub-label.big {
    font-size: 16px;
}

.sub-label.super-big {
    font-size: 22px;
}

.sub-desc {
    color: #a0a0a0;
    font-size: 12px;
}

/* Pagination --------------------------------------------------------------- */

.page {
    display: block;
}

.page li {
    list-style: none;
    padding: 0;
    display: block;
    float: left;
    margin-left: 5px;
}

/* fixed style from Bootstrap ----------------------------------------------- */

form, 
label,
p,
ul, 
ol,
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; }

select {
    border-color: #ccc;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* fixed style from ColorBox ------------------------------------------------ */

.blockUI.blockOverlay {
    cursor: default!important;
}

/* form style --------------------------------------------------------------- */

.metro-box {
    display: block;
    position: relative;
    clear: both;
    height: 27px;
}

.metro-box.left {
    clear: none;
}

.metro-box div.left-border {
    border-left: 1px solid #ccc;
    width: 1px;
    height: 45%;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.metro-box div.right-border {
    border-right: 1px solid #ccc;
    width: 1px;
    height: 45%;
    position: absolute;
    right: 0;
    bottom: 0px;
}

@-moz-document url-prefix() {
    .metro-box div.left-border, 
    .metro-box div.right-border {
    bottom: 0px;
}
}

.metro-box div.left-border, .metro-box div.right-border {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.metro-box div.left-border.focused, .metro-box div.right-border.focused {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.metro-box input[type="text"], .metro-box input[type="password"], .metro-box textarea {
    position: relative;
    margin-left: 1px;
    margin-bottom: -10px;
    padding: 4px 4px 0 4px;
}

input[type="text"], input[type="password"], textarea {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
    -webkit-box-shadow: 0px 0px 0px 0px #fff;
    box-shadow: 0px 0px 0px 0px #fff;
}

textarea {
    border: 1px solid #ccc;
    resize: none;
}

/* ColorBox hacked style ---------------------------------------------------- */

#cboxContent {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 25px 0px #d0d0d0;
    box-shadow: 0px 0px 25px 0px #d0d0d0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#cboxLoadedContent {
    margin-bottom: 0;
}

#cboxClose {
    display: none!important;
}

.mybox {
    color: #333;
}

.mybox a {
    color: inherit;
}

.mybox-header {
    padding: 0 10px;
    position: relative;
    /*    background: url('../image/mybox_header_bg.jpg') repeat-x 0 0;*/
}

.mybox-header .title {
    font-size: 20px;
    color: #535353;
    height: 46px;
    line-height: 46px;
}

.mybox-close {
    position: absolute;
    top: 18px;
    right: 15px;
    opacity: 0.7;
}

.mybox-close:hover {
    cursor: pointer;
    opacity: 1;
}

.mybox-body .sidebar {
    width: 25%;
    padding: 5px 0;
    float: left;
}

.mybox-body .sidebar li {
    color: #535353;
    font-size: 13px;
    padding: 5px 0;
}

.mybox-body .sidebar li a {
    cursor: pointer;
    padding-left: 15px;
    text-decoration: none;
}

.mybox-body .sidebar li.selected a {
    border-left: 5px solid #0088cc;
    padding-left: 10px;
}

.mybox-body .sidebar li.selected {
    color: #0088cc;
    font-weight: 700;
}

.mybox-response {
    border-left: 1px solid #dadada;
    float: left;
}


/* header ------------------------------------------------------------------- */

#dsb_header {
    background: #efefef;
    border-bottom: 1px solid #e0e0e0;
}

#dsb_header .container_12 {
    position: relative;
}

#dsb_nav li {
    list-style: none;
    float: left;
    font-size:15px;
    position: relative;
    height: 57px;
    line-height: 57px;
    margin-right: 35px;
    cursor: pointer;
    opacity: 0.8;
}

#dsb_nav li:hover {
    opacity: 1;
}

#dsb_nav li a {
    color: inherit;
    text-decoration: none;
}

#dsb_nav .arrow-up {
    width: 17px;
    height: 9px;
    background: transparent url('../image/arrow_up.png') no-repeat 0 0;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -9px;
}

#dsb_nav .sub-menu {
    border: 1px solid #e0e0e0;
    line-height: 12px;
    width: 151px;
    padding: 5px 0;
    color: #535353;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -76px;
    z-index: 1;
    text-align: center;
}

#dsb_nav .sub-menu .arrow-up {
    top: -9px;
}

#dsb_nav .sub-menu .list {
    display: block;
    padding: 5px 0;
    font-size: 12px;
}

#dsb_nav .sub-menu .list:hover {
    background: #f0f0f0;
}

/* body --------------------------------------------------------------------- */

/* Login */
#dsb_dashboard_login .grid_4 {
    border: 1px solid #ccc;
    margin-top: 15%;
    color: #333;
}

#dsb_dashboard_login h1 {
    padding: 10px 17px;
    font-size: 20px;
    background: #f7f7f7;
}

#dsb_dashboard_login form {
    border-top: 1px solid #ccc;
    padding: 10px 17px;
}

#dsb_dashboard_login .control-group {
    margin-bottom: 20px;
}

/* Explorer ----------------------------------------------------------------- */

#dropbox {
    border: 2px dashed #ccc;
    padding: 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 15px;
    height: 250px;
    cursor: default;
    postion: relative;
}

#dropbox .align-center {
    margin-top: 17%;
}

#progress {
    width: 80%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -40%;
}

#progress .progress {
    margin: 0;
    margin-top: 15px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.group-thumb {
    padding: 0;
    margin: 15px 0;
    border-top: 1px solid #dadada;
    padding-top: 15px;
}

.group-thumb li {
    float: left;
    margin-left: 15px;
    list-style: none;
    display: block;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 3px;
    opacity: 0.7;
}

.group-thumb li:hover, .group-thumb li.selected, .group-thumb li.completed {
    cursor: pointer;
    opacity: 1;
}

.crop-panel, .browse-panel, .edit-panel {
    margin: 15px 0;
    border-bottom: 1px solid #dadada;
    padding: 0 15px 15px 15px;
}

.crop-panel p, .edit-panel p {
    width: 70%;
    float: left;
    height: 31px;
    line-height: 31px;
}

.crop-body {
    margin: 0 15px;
}

.jcrop-holder {
    margin: 0 auto;
}

.crop-complete {
    position: absolute;
    background: rgba(255,255,255,0.77);
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.crop-finish {
    margin-left: 15px;
}

.browse-cat .thumb-wrapper {
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    width: 202px;
    height: 153px;
    line-height: 151px;
    text-align: center;
}

.browse-cat .thumb {
    max-width: 200px;
    max-height: 150px;
}

.browse-cat .title {
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 0;
    left: 0;
    font-size: 11px;
    padding: 5px;
    cursor: default;
    width: 192px;
}

.browse-panel p {
    display: inline-block;
    height: 31px;
    line-height: 31px;
}

.browse-panel .page li {
    opacity: 0.5;
}

.browse-panel .page li.active {
    opacity: 1;
}

.cat-label {
    color: #777;
    background: #fefefe;
    padding: 5px 15px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.thumb-inner {
    padding: 15px 15px 5px 15px;
}

.edit-body {
    padding: 0 15px 15px 15px;
}

.edit-body .edit-thumb {
    border: 1px solid #dadada;
    padding: 3px;
    float: left;
}

.edit-body .edit-detail {
    float: left;
    margin-left: 15px;
}

.edit-body .edit-detail label {
    display: block;
    float: left;
    font-weight: 700;
    height: 28px;
    line-height: 36px;
    margin-right: 10px;
    width: 105px;
}

.edit-body .edit-detail .edit-disabled {
    float: left;
    height: 27px;
    line-height: 36px;
}

.edit-body .edit-detail .edit-link {
    text-decoration: none;
    color: #0074cc;
    border-bottom: 1px dashed #0074cc;
}

/* Confirm dialog ----------------------------------------------------------- */

.confirm-dialog .confirm-panel {
    text-align: center;
}

.confirm-dialog .confirm-button {
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    color: #000;
    font-weight: 700;
    opacity: 0.8;
}

.confirm-dialog .confirm-button:hover, .confirm-dialog .confirm-button.selected {
    opacity: 1;
}

.confirm-dialog .confirm-button.danger {
    background: red;
    color: #fff;
}

.confirm-dialog .sub-label {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
}


/* content ------------------------------------------------------------------ */

.content {
    margin-top: 50px;
}

.content .content-header .sub-label {
    border-bottom:  2px solid #ccc;
    padding-bottom: 7px;
    font-weight: 700;
}

.content .content-body {
    margin-top: 35px;
}

.content .content-body .big-thumb {
    border: 1px dashed #ccc;
    padding: 3px;
    position: relative;
}

.content .content-body .big-thumb img {
    cursor: pointer;
}

.content .content-body .div-label {
    float: left;
    height: 27px;
    line-height: 36px;
    font-weight: 700;
    width: 150px;
    margin-right: 15px;
    color: #535353;
}

.content .content-body .metro-box {
    float: left;
    clear: none;
}

.content .content-body .section {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 7px 15px 7px;
}

.content .content-body .begin {
    border-top: 1px solid #ccc;
}

.content .content-body .begin .section {
    padding-top: 7px;
}

.content .content-body .end {
    border-bottom: 1px solid #ccc;
}

.content .content-body .end-action {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.content .content-body .end-action .section {
    padding: 7px;
    background: #f0f0f0;
}

.content .content-body input[type="text"] {
    width: 430px;
}

.content .content-body textarea {
    width: 429px;
}

.content .content-body select {
    width: 300px;
}

.content .locale-tab li {
    display: block;
    list-style: none;
    float: left;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    cursor: pointer;
    background: #e0e0e0;
    font-weight: 700;
}

.content .locale-tab li.selected {
    background: #fff;
}

.content .locale-tab li.latest {
    border-right: 1px solid #ccc;
}

.content .locale-content.selected {
    display: block;
}

.content .sub-label.big {
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

.content-footer {
    border-top: 1px solid #ccc;
    padding-top: 17px;
}

.flag {
    background-image: url('../image/flag-icon.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;   
    display: inline-block;
}

.flag.flag-en_US {
    background-position: -32px -565px;
}

.flag.flag-th_TH {
    background-position: -228px -509px;
}

/* Category ----------------------------------------------------------------- */

#dsb_category_index .div-label, #dsb_category_edit .div-label {
    width: 75px;
}

#dsb_category_index input[type="text"], #dsb_category_edit input[type="text"] {
    width: 344px;
}

#dsb_category_index textarea, #dsb_category_edit textarea {
    width: 343px;
}

.category-list li {
    list-style: none;    
    border-bottom: 1px dashed #aaa;
    margin-bottom: 10px;
    cursor: pointer;
}

.category-list li:hover {
    opacity: 0.8;
}

.category-list li a {
    text-decoration: none;
}

.category-list div[class^="icon-"] {
    cursor: pointer;
}

/* Product ------------------------------------------------------------------ */

.out-of-stock td {
    background: #fddede!important;
}

.new-order td {
    background: #e9ffe6!important;
}

.order-success td {
    opacity: 0.7;
}

.order-list li {
    display: block;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.invoice-detail th {
    font-weight: bolder;
    padding-bottom: 10px;
}

.invoice-detail td {
    padding-left: 7px;
    padding-bottom: 3px;
}

/* Slide -------------------------------------------------------------------- */

.preview-slide {
    text-align: center;
    border: 1px dashed #ccc;
    padding: 7px;
    margin-top: 15px;
}

.preview-slide img {
    width: 918px;
    height: 313px;
}

.slide-list li {
    display: block;
    list-style: none;
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #ccc;
    padding: 9px;
    cursor: crosshair;
    position: relative;
    margin-top: 15px;
}

.slide-list .panel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 918px;
    background: rgba(255, 255, 255, 0.7);
    text-align: left;
    cursor: pointer;
}

.slide-list .panel:hover {
    opacity: 0.8;
}

.slide-placeholder {
    border: 1px dashed #ccc!important;
    height: 313px;
}

.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: left;
    width: 918px;
    color: #fff;
}

#change-slide {
    position: fixed;
    bottom: 25px;
    left: 25px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    z-index: 99;
}

/* Technology --------------------------------------------------------------- */

.technology-list div[class^="grid_"] {
    position: relative;
}

.technology-panel {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 210px;
}

.technology-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 210px;
    padding: 5px;
}

.technology-detail p {
    color: #fff;
    font-size: 12px;
}

.technology-detail p.sub-label {
    font-weight: 700;
    font-size: 13px;
}

/* Advertisement ------------------------------------------------------------ */

#advertisement-list .grid_4 {
    position: relative;
}

#advertisement-list .advertisement-panel {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    padding: 5px 10px;
    text-align: left;
}

/* footer ------------------------------------------------------------------- */

#dsb_footer {
    margin-top: 35px;
    padding: 30px 0 10px 0;
    font-size: 11px;
    color: #fff;
    background: #333;
    -webkit-box-shadow: 0px 0px 7px 0px #171717;
    box-shadow: 0px 0px 7px 0px #171717;
}

#hotlinks li {
    display: inline-block;
    margin-left: 7px;
}

#hotlinks a {
    color: #fff;
    text-decoration: none;
}

/* End of file dsb.style.css */
/* Location: ./application/assets/modules/dashboard/dsb.style.css */