/* 
Document   : clean.global
Created on : May 6, 2012, 1:35:39 PM
Author     : Nomkhonwaan ComputerScience
Description: This global stylesheet for clean template
*/

body {
    background: url('../image/black_grundge_seamless_tile1.jpg') repeat 0 0;
}

a, a:hover {
    text-decoration: none;
}

.left { float: left; }
.right { float: right; }

.hide { display: none; }
.hidden { visibility: hidden; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

.error-text { color: #fd5476; }
.error-text:hover { color: #fd2727; }

.no-image {
    font-size: 26px;
    color: #969696;
    background: #ccc;
    width: 99.99%;
    height: 99.99%;
}

.navbar-fixed-top .brand {
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

/* Sortable ----------------------------------------------------------------- */

.sortable ul {
    margin: 0;
    padding: 0;
}

.sortable li {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
}

.sortable li .cat {
    border: 1px solid #ccc;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    display: block;
}

.sortable li .cat.draggable {
    cursor: pointer;
}

.sortable a.disabled {
    color: #656565;
    cursor: default;
}

/* Sidebar ------------------------------------------------------------------ */

#sidebar {
    margin-top: 73px;
    position: fixed;
    background: #fff;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 0;
    padding-right: 5px;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar li {
    display: block;
    padding: 0;
    margin: 0;
    padding: 5px 0 5px 15px;
}

#sidebar .divider {
    border-top: 1px dashed #ccc;
    line-height: 1px!important;
    margin-top: 5px;
    padding-bottom: 0;

}

#sidebar a:hover {
    text-decoration: none;
}

#sidebar .hide li {
    padding-bottom: 0;
}

#sidebar .sub_menu_line {
    border-left: 3px solid #ccc;
    height: 20px;
    width: 7px;
    float: left;
    margin-left: -14px;
    margin-top: -3px;
}

#sidebar .sub_menu_line div {
    width: 7px;
    height: 1px;
    border-top: 1px solid #ccc;
    float: left;
    margin-top: 12px;
}

#sidebar .active .highlight {
    color: #575757;
}

/* Content ------------------------------------------------------------------ */

#content {
    padding-top: 35px;
}

.sub_label {
    color: #999;
    margin: 5px 0;
    display: block;
}

.sub_label.inline {
    display: inline-block;
}

/* Login -------------------------------------------------------------------- */

#dsb_pages_login .section {
    padding: 20px;
    background: #fff;
}

#dsb_pages_login .header {
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #f0f0f0;
    padding: 10px 20px;
    margin-top: 10%;
}

#dsb_pages_login .footer {
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    padding: 10px 20px;
}

#dsb_pages_login .dash-line {
    border-top: 1px dashed #ccc;
    padding-top: 0;
    padding-bottom: 0;
}

#dsb_pages_login .offset4 {
    margin-left: 320px;
}

/* Content ------------------------------------------------------------------ */

#content {
    background: #fff;
}

#content .section {
    padding: 20px;
}

#content label.cufon {
    font-size: 20px;
}

#content label.cufon.small {
    font-size: 16px;
}

#content .dash-line {
    border-top: 1px dashed #ccc;
}

#content .section.footer {
    padding-top: 0;
    padding-bottom: 0;
}

#content .section.no_top {
    padding-top: 0;
}

#content .section.no_bottom {
    padding-bottom: 0;
}

#content .section.no_left {
    padding-left: 0;
}

#content .section.no_right {
    padding-right: 0;
}

.blockUI {
    cursor: default!important;
}

/* Footer ------------------------------------------------------------------- */

#footer {
    position: absolute;
    bottom: 0;
}

/* Category ----------------------------------------------------------------- */

.category_parent_template .trunk {
    border-left: 1px solid #999;
    height: 20px;
    margin-top: -5px;
    width: 1px;
}

.category_parent_template .branch {
    border-top: 1px solid #999;
    height: 5px;
    margin-top: 8px;
    width: 10px;
    margin-right: 1px;
}

.category_parent_template .branch.last {
    margin-right: 6px;
}

.category_parent_template .empty {
    width: 20px;
    height: 5px;
}

/* Gallery ------------------------------------------------------------------ */

.gallery_grid {
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.7;
    position: relative;
    height: 195px!important;
}

.gallery_grid.selected {
    border: 1px dashed #fd0404;
}

.gallery_grid:hover {
    cursor: pointer;
    opacity: 1;
}

.gallery_grid .gallery_grid_title {
    margin-bottom: 5px;
}

.gallery_grid .gallery_grid_title label {
    font-weight: 700!important;
}

.gallery_grid img {
    max-height: 150px;
}

.gallery_grid .gallery_grid_panel {
    position: absolute;
    bottom: 5px;
}

.gallery_grid .no-image {
    height: 150px!important;
    line-height: 150px;
}

/* Post --------------------------------------------------------------------- */

.click_2_upload {
    background: #f0f0f0;
    height: 150px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px dashed #ccc;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.click_2_upload .cufon {
    color: #aaa;    
    font-size: 20px;
    height: 150px;
    line-height: 150px;
}

.click_2_upload img {
    max-height: 120px;
}

.click_2_upload .panel {
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -28px;
    opacity: 0.7;
}

.click_2_upload .panel:hover {
    opacity: 1;
}

.row_selected {
    background: #fde0e0;
}

.dsb_categories_edit {
    background: #ededed;
    margin: 5px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Product ------------------------------------------------------------------ */

.icon-tile {
    border: 1px solid #ccc;
}

.icon-tile.color1 {
    background: #4b2b1e;
}

.icon-tile.color2 {
    background: #fff;
}

.icon-tile.color3 {
    background: #8a3d2d;
}

.icon-tile.color4 {
    background: #703829;
}

.icon-tile.color5 {
    background: #501312;
}

.icon-tile.color6 {
    background: #402921;
}

/* Slide -------------------------------------------------------------------- */

#slide_image {
    width: 717px;
    height: 510px;
    background: #f0f0f0;
    margin: 0 auto;
    line-height: 510px;
}

#dsb_root {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 1031;
    width: 100%;
}


#html_file_crop .jcrop-holder {
    margin: 0 auto;
}

#crop_panel {
    margin: 10px 0;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

#slide_sorting li {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background: #fff;
    list-style: none;
    min-height: 102px;
    cursor: crosshair;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.slide_number {
    display: block;
    float: left;
    width: 3%;
    height: 122px;
    background: #f0f0f0;
    font-weight: 700;
    color: #333;
    text-align: center;
    line-height: 122px;
    border-right: 1px dashed #ccc;
}

.slide_thumbnail img {
    margin: 10px 0 10px 15px;
    float: left;
}

.slide_content {
    height: 122px;
    float: right;
    position: relative;
    margin-left: 15px;
}

.slide_remove {
    display: block;
    float: right;
    width: 3%;
    height: 122px;
    background: #fdd0d0;
    font-weight: 700;
    color: #333;
    text-align: center;
    line-height: 122px;
    cursor: pointer;
}

#slide_sorting li.ui-state-highlight {
    background: #dce9f7;
    border: 1px dashed #ccc;
    height: 122px;
}