/*-------------------------
    Dropbox Element
--------------------------*/

#dropbox {
    background: #f0f0f0;
    border-radius:5px;
    overflow: hidden;
    border: 1px dashed #ccc;
    min-height: 150px;
    line-height: 150px;
}


#dropbox .message {
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 20px;
}

#dropbox .preview {
    /*width:245px;*/
    /*height: 215px;*/
    height: 190px;
    position: relative;
    text-align: center;
    margin-left: 1%!important;
    margin-bottom: 1%!important;
}

#dropbox .preview img {
    /*max-width: 240px;*/
    /*max-height:180px;*/
    max-height: 150px;
    border:3px solid #fff;
    display: block;
    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder {
    display: inline-block;
    position:relative;
}

#dropbox .uploaded {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display: none;
}

#dropbox .preview.done .uploaded {
    display: block;
}

#dropbox .progress {
    position: absolute;
    width:100%;
    left:0;
    bottom: -20px;
}

#dropbox .preview .bar {
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

#dropbox .preview.done .bar {
    width:100% !important;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#dropbox .remove_uploaded {
    position: absolute;
    width:100%;
    left:0;
    bottom: 0;
    color: #171717;
    height: 85px;
    font-size: 13px;
    opacity: 0.5;
}

#dropbox .remove_uploaded:hover {
    cursor: pointer;
    opacity: 0.9;
}